@page "/Register"

<style>
    section{
        display:flex;
        flex-direction: column;
        gap:10px;
        justify-content:center;
        align-items:center;
    }
    button{
        margin-top:30px;
        margin-right:20px;
    border-radius:5px;
    border: 1px solid lightblue;
    }

</style>

<section>
    <h1>Registration form</h1>
    <div>
        <label>First Name:</label>
        <input type="text" name="firstname" value="@first_name" @onchange="GetFirstName"/>
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" name="lastname" value="@last_name" @onchange="GetLastName" />
       
    </div>
    <div>
        <label>email:</label>
        <input type="email" name="email" value="@email" @onchange="GetEmail" />
    
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" value="@password" @onchange="GetPassword" />
    </div>
  
</section>
<p>@message</p>
<button @onclick="ClearForm">Clear</button>
<button @onclick="RegisterMember">Register</button> 






@code {
    string first_name;
    string last_name;
    string email;
    string password;

    //save messgaes
    string message;


    //save booleans for checking name, email, and password
    // bool correct_name = false;

    //get values from the input box
    void GetFirstName(ChangeEventArgs e)
        {
        first_name = e.Value.ToString();
        }
    void GetLastName(ChangeEventArgs e)
        {
        last_name = e.Value.ToString();
        }
    void GetEmail(ChangeEventArgs e)
        {
        email = e.Value.ToString();
        }
    void GetPassword(ChangeEventArgs e)
        {
        password = e.Value.ToString();
        }


    //clear all information
    void ClearForm()
        {
        first_name = null;
        last_name = null;
        email = null;
        password = null;
        message= null;
        }

    void RegisterMember()
        {
        //ask manager to check the value
       message =  MemberManager.AddMemeber(first_name, last_name, email, password);
        }
       
}


