@page "/Register"

<style>
    section{
        display:flex;
        flex-direction: column;
        gap:30px;
        justify-content:center;
        align-items:center;
    }

    h1 {
        color: #F7418F;
        margin-bottom:20px;
    }
  
    label{
        display:inline-block;
        text-align:left;
        width:150px;
        font-size:18px;
     
    }
    input{
        height:40px;
        padding:10px; 
        border: 1px solid #31363F;
        border-radius:5px;
    }
    input:focus{
            color: #FFA1CF;
            border-color: #FFA1CF;
            /* remove the defult outline */
            outline:none;
    }
    p{
        color: #FFA1CF;
        font-size:16px;
        
    }
    button {
        width:100px;
        margin-top: 30px;
        margin-right: 20px;
        padding:10px;
        border-radius: 10px;
        border: 1px solid #FEBBCC;
    }
  button:hover{
            background: #FFA1CF;
            color:white;
  }

</style>

<section>
    <h1>Registration</h1>
    <div>
        <label>First Name:</label>
        <input type="text" name="firstname" value="@first_name" @onchange="GetFirstName"/>
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" name="lastname" value="@last_name" @onchange="GetLastName" />
       
    </div>
    <div>
        <label>Email:</label>
        <input type="email" name="email" value="@email" @onchange="GetEmail" />
    
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" value="@password" @onchange="GetPassword" />
    </div>
    <p>@message</p>
    <div>
        <button @onclick="ClearForm">Clear</button>
        <button @onclick="RegisterMember">Register</button>
       
    </div>

</section>




@code {
    string first_name;
    string last_name;
    string email;
    string password;

    //save messgaes
    string message;


    //get values from the input box
    void GetFirstName(ChangeEventArgs e)
        {
        first_name = e.Value.ToString();
        }
    void GetLastName(ChangeEventArgs e)
        {
        last_name = e.Value.ToString();
        }
    void GetEmail(ChangeEventArgs e)
        {
        email = e.Value.ToString();
        }
    void GetPassword(ChangeEventArgs e)
        {
        password = e.Value.ToString();
        }


    //clear all information
    void ClearForm()
        {
        first_name = null;
        last_name = null;
        email = null;
        password = null;
        message= null;
        }

    void RegisterMember()
        {
        //ask manager to check the value
       message =  MemberManager.AddMemeber(first_name, last_name, email, password);
        }
       
}


